@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #a1c4fd;
  margin: 0;
  padding: 0;
}
